{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="row">
    <div style="margin-top:60px;" class="col-25">
        <div class="container">
          <h4><a style="margin:30px;" href="#">(Study in Russia) {{detail.name}}</a> 
            <span class="price" style="color:black">
              <i class="fa fa-shopping-cart"></i>
              <b>1</b>
            </span>
          </h4>
          <p>
              <img style="weight:50px;" src="{{detail.photo.url}}">
              
              
          <span style="margin-top:30px;" class="price">Diib - Unstable (Official Audio)
            Diib - Unstable (Official Audio)
            Diib - Unstable (Official Audio)
            Diib - Unstable (Official Audio)
            Diib - Unstable (Official Audio)
            Diib - Unstable (Official Audio)
            Diib - Unstable (Official Audio)
            Diib - Unstable (Official Audio)
          </span>
          </p>
          <hr>
          <p style="margin-top:30px;">Total <span class="price" style="color:black"><b>$1000</b></span></p>
        </div>
      </div>
    <div class="col-75">
      <div class="containeree">
        <form method="POST" enctype="multipart/form-data">
  
          <div class="row">
            <div class="col-50">

  
            <div class="col-50">
              <h3>Payment</h3>
              <label for="fname">Accepted Cards</label>
              <div class="icon-container">
                <i class="fa fa-cc-visa" style="color:navy;"></i>
                <i class="fa fa-cc-mastercard" style="color:orange;"></i>
              </div>

  
            </div>
            {% csrf_token %}
            {{comment_form.as_p}}
  


          <div style="margin-top:60px;">

          <div class="col-md-6">
              <div class="panel">
                  <div class="panel-body">
                      <div class="bio-chart">
                          <div style="display:inline;width:100px;height:100px;"><canvas width="100" height="100px"></canvas><input class="knob" data-width="100" data-height="100" data-displayprevious="true" data-thickness=".2"  data-fgcolor="#e06b7d" data-bgcolor="#e8e8e8" style="width: 54px; height: 33px; position: absolute; vertical-align: middle; margin-top: 33px; margin-left: -77px; border: 0px; font-weight: bold; font-style: normal; font-variant: normal; font-stretch: normal; font-size: 20px; line-height: normal; font-family: Arial; text-align: center; color: rgb(224, 107, 125); padding: 0px; -webkit-appearance: none; background: none;"></div>
                      </div>
                      <div class="bio-desk">
                          <h4 class="red">My Passport</h4>
                          <a href="" target="_blank "><img style="width:90px; margin-top:20px;" src="{% static 'images/passport.png' %}"></a>
                            <p>The document will be verified within 24 hours</p>

                        </div>
                  </div>
              </div>
          </div>
          <div class="col-md-6">
              <div class="panel">
                  <div class="panel-body">
                      <div class="bio-chart">
                          <div style="display:inline;width:100px;height:100px;"><canvas width="100" height="100px"></canvas><input class="knob" data-width="100" data-height="100" data-displayprevious="true" data-thickness=".2"  data-fgcolor="#4CC5CD" data-bgcolor="#e8e8e8" style="width: 54px; height: 33px; position: absolute; vertical-align: middle; margin-top: 33px; margin-left: -77px; border: 0px; font-weight: bold; font-style: normal; font-variant: normal; font-stretch: normal; font-size: 20px; line-height: normal; font-family: Arial; text-align: center; color: rgb(76, 197, 205); padding: 0px; -webkit-appearance: none; background: none;"></div>
                      </div>
                      <div class="bio-desk">
                          <h4 class="terques">school certificate </h4>
                          <a href="{{user.profaile.passportPDF.url}}" target="_blank "><img style="width:90px; margin-top:20px;" src="{% static 'images/certificate.png' %}"></a>
                            <p>The document will be verified within 24 hours</p>

                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-6">
            <div class="panel">
                <div class="panel-body">
                    <div class="bio-chart">
                        <div style="display:inline;width:100px;height:100px;"><canvas width="100" height="100px"></canvas><input class="knob" data-width="100" data-height="100" data-displayprevious="true" data-thickness=".2"  data-fgcolor="#4CC5CD" data-bgcolor="#e8e8e8" style="width: 54px; height: 33px; position: absolute; vertical-align: middle; margin-top: 33px; margin-left: -77px; border: 0px; font-weight: bold; font-style: normal; font-variant: normal; font-stretch: normal; font-size: 20px; line-height: normal; font-family: Arial; text-align: center; color: rgb(76, 197, 205); padding: 0px; -webkit-appearance: none; background: none;"></div>
                    </div>
                    <div class="bio-desk">
                        <h4 class="terques">school certificate </h4>
                        <a href="{{user.profaile.passportPDF.url}}" target="_blank "><img style="width:90px; margin-top:20px;" src="{% static 'images/contract (1).png' %}"></a>
                          <p>The document will be verified within 24 hours</p>

                    </div>
                </div>
            </div>
          </div>
          <div class="col-md-6">
              <div class="panel">
                  <div class="panel-body">
                      <div class="bio-chart">
                          <div style="display:inline;width:100px;height:100px;"><canvas width="100" height="100px"></canvas><input class="knob" data-width="100" data-height="100" data-displayprevious="true" data-thickness=".2"  data-fgcolor="#96be4b" data-bgcolor="#e8e8e8" style="width: 54px; height: 33px; position: absolute; vertical-align: middle; margin-top: 33px; margin-left: -77px; border: 0px; font-weight: bold; font-style: normal; font-variant: normal; font-stretch: normal; font-size: 20px; line-height: normal; font-family: Arial; text-align: center; color: rgb(150, 190, 75); padding: 0px; -webkit-appearance: none; background: none;"></div>
                      </div>
                      <div class="bio-desk">
                          <h4 class="green">Passbook</h4>
                          <a href="{{user.profaile.passportPDF.url}}" target="_blank "><img style="width:90px; margin-top:20px;" src="{% static 'images/bank-account.png' %}"></a>
                          <p>The document will be verified within 24 hours</p>
                      </div>
                  </div>
              </div>
          </div>

          </div>

          </div>
          <input type="submit" value="Continue to checkout" class="btn">
        </form>
      </div>
    </div>
  
  </div>
  


  <style>
    .row {
        display: -ms-flexbox; /* IE10 */
        display: flex;
        -ms-flex-wrap: wrap; /* IE10 */
        flex-wrap: wrap;
        margin: 0 -16px;
        margin-top:100px;
      }
      
      .col-25 {
        -ms-flex: 25%; /* IE10 */
        flex: 25%;
      }
      
      .col-50 {
        -ms-flex: 50%; /* IE10 */
        flex: 50%;
      }
      
      .col-75 {
        -ms-flex: 75%; /* IE10 */
        flex: 75%;
      }
      
      .col-25,
      .col-50,
      .col-75 {
        padding: 0 16px;
      }
      
      .containeree {
        background-color: #f2f2f2;
        padding: 5px 20px 15px 20px;
        border: 1px solid lightgrey;
        border-radius: 3px;
        margin:50px;
      }
      
      input[type=text] {
        width: 100%;
        margin-bottom: 20px;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 3px;
      }
      
      label {
        margin-bottom: 10px;
        display: block;
      }
      
      .icon-container {
        margin-bottom: 20px;
        padding: 7px 0;
        font-size: 24px;
      }
      
      .btn {
        background-color: #d92cf9;
        color: white;
        padding: 12px;
        margin: 10px 0;
        border: none;
        width: 100%;
        border-radius: 3px;
        cursor: pointer;
        font-size: 17px;
      }
      
      .btn:hover {
        background-color: blue;
      }
      
      span.price {
        float: right;
        color: grey;
      }
      
      /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
      @media (max-width: 800px) {
        .row {
          flex-direction: column-reverse;
        }
        .col-25 {
          margin-bottom: 20px;
        }
      }
  </style>



{% endblock content %}







