{% extends "base.html" %}
{% load static %}




{% block content %}


<div  class="section-heading text-start ">
    <h2 style="margin-top:150px;margin-left:90px;">Sing Up</h2>
</div>



<div class="container">

    <div class="container">
        <div class="row my-5">
            <div class="col-sm-8 offset-sm-3">
                <form method="post" class="shadow p-5" novalidate>
                {% csrf_token %}
                
                {% for fm in form %}
                    {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small>
                    <br>
                {% endfor %}
                    <input style="background-color:#d92cf9;color:black;" type="submit" class="btn btn-secondary" value="Singin"><br>
                    <div class="text-center fw-bold text-secondary">
                        <small style="font-weight: 700;">You Areddy Have accounts ?<a style="color:blue;margin-left:10px;" href="" class="text-dark">
                             Login
                        </a>
                        </small>
                    </div>
                    
                    {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                            <p class="alert alert-danger my-3">{{error}}</p>
                        {% endfor %} 
                    {% endif %}
                        
    
                    
                    {% if messages %}
                    {% for msg in messages %}
                        <div role="alert" class="alert alert-{{msg.tags}}">
                            {{msg}}
                        </div>
                    {% endfor %}
                    {% endif %}      
                </form>
            </div>
            
        </div>
    
    </div>
</div>






{% endblock content %}



